app = "haveiwatchit"
primary_region = "lhr"

[env]
  PORT = "3000"

[processes]
  app = "npm start"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

